---
Checks: "
        clang-diagnostic-*,
        clang-analyzer-*,
        cppcoreguidelines*,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-init-variables,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -cppcoreguidelines-pro-bounds-constant-array-index,
        llvm-include-order,
        modernize-*,
        -modernize-use-trailing-return-type,
        -modernize-use-nodiscard,
        openmp-*,
        performance-*,
        readability-*,
        -readability-identifier-length,
        -readability-isolate-declaration,
        -readability-magic-numbers,
"
WarningsAsErrors: ''
HeaderFilterRegex: ".*"
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
