---
Checks: >
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  google-*,
  llvm-include-order,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  openmp-*,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-isolate-declaration,
  -readability-magic-numbers,

WarningsAsErrors: ""
HeaderFilterRegex: ".*"
FormatStyle: "file"
CheckOptions:
  readability-identifier-naming.ClassCase: "CamelCase"
  readability-identifier-naming.ClassMemberCase: "lower_case"
  readability-identifier-naming.EnumCase: "CamelCase"
  readability-identifier-naming.FunctionCase: "lower_case"
  readability-identifier-naming.MacroDefinitionCase: "UPPER_CASE"
  readability-identifier-naming.MemberCase: "lower_case"
  readability-identifier-naming.PrivateMemberPrefix: "m_"
  readability-identifier-naming.ProtectedMemberPrefix: "m_"
  readability-identifier-naming.NamespaceCase: "lower_case"
  readability-identifier-naming.ParameterCase: "lower_case"
  readability-identifier-naming.TypeAliasCase: "CamelCase"
  readability-identifier-naming.TypedefCase: "CamelCase"
  readability-identifier-naming.VariableCase: "lower_case"
  readability-identifier-naming.StaticVariableCase: "lower_case"
  readability-identifier-naming.ConstexprVariableCase: "CamelCase"
  readability-identifier-naming.ConstexprVariablePrefix: "k"
  readability-identifier-naming.EnumConstantCase: "CamelCase"
  readability-identifier-naming.EnumConstantPrefix: "k"
  readability-identifier-naming.GlobalConstantCase: "CamelCase"
  readability-identifier-naming.GlobalConstantPrefix: "k"
  readability-identifier-naming.MemberConstantCase: "CamelCase"
  readability-identifier-naming.MemberConstantPrefix: "k"
  readability-identifier-naming.StaticConstantCase: "CamelCase"
  readability-identifier-naming.StaticConstantPrefix: "k"
  readability-identifier-naming.StructCase: "CamelCase"
  readability-identifier-naming.TemplateParameterCase: "CamelCase"
  readability-function-cognitive-complexity.Threshold: "30"
