---
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
AlignConsecutiveAssignments:
  Enabled: true
BinPackParameters: false
DerivePointerAlignment: false
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
